.page {
  min-height: 100svh;
  max-width: 1268px;

  padding: 32px 0px;
  margin-inline: auto;

  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 64px;
}

.navigation_section {
  height: fit-content;

  padding: 0px 24px;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 48px;
}

.hero_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero_container > h1 {
  font-size: 2.5rem;
}

.hero_container > p > span {
  padding: 0 2px;

  background-color: var(--highlight);

  font-weight: bold;
}

.contact_container {
  display: flex;
  gap: 32px;

  align-self: flex-end;
}

.contact_link > svg {
  fill: rgb(235, 235, 235);
  transition: ease-in 100ms;
}

.contact_link:hover > svg {
  fill: rgb(255, 255, 255);
  scale: 1.2;
}

.footer_container {
  padding: 12px 24px;
  font-size: 0.7rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .page {
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }

  .navigation_section {
    height: calc(100vh - 80px);

    padding: 0px 40px; 
    
    position: sticky;
    top: 40px;
    bottom: 40px;

    grid-template-rows: 1fr 2fr 1fr;
  }
}

