.card_container {
  padding: 16px;

  display: grid;
  grid-template-rows: 1fr;
  gap: 16px;
  
  background-color: rgba(250, 248, 255, 0.1);
  backdrop-filter: blur(10px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.096);

  position: relative;
  box-sizing: border-box;

  transition: background-color 160ms ease, border-color 120ms ease;

  cursor: pointer;
}

.card_container:first-child:has(img) {
  grid-template-rows: 2fr 1fr;
}

.card_container:first-child:has(img) > .card_header {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card_header {
  font-weight: 300;
  font-size: 0.9rem;
}

.card_content {
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
  font-size: 0.9rem;
}

.card_title {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
}

.card_title > h5 {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.seperator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-inline: 10px;
  background-color: white;
}

.card_description > p {
  color: rgb(235, 234, 234);
}

.card_footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 768px ) and (max-width: 1024px) {
  .card_container:first-child:has(img) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: none;
  }
}

@media (min-width: 1024px) {
  .card_container {
    grid-template-columns: 1fr 2fr;
    border: 1px solid transparent;
    background-color: transparent;
  }
  
  .card_container:first-child:has(img) {
    grid-template-rows: none;
  }

  .card_container:hover {
    background-color: rgba(250, 248, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.096)
  }
}

