:root {
  --background: #f3f3f3;
  --foreground: rgb(67, 61, 139);

  --highlight: rgb(200, 172, 214);
  --accent: rgb(67, 61, 139);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(6, 4, 10);
    --foreground: #e0e0e0;

    --highlight: rgb(124, 53, 255);
    --accent: rgb(72, 9, 220);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  position: relative;
  font-family: var(--roboto);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
