.page {
  min-height: 100svh;
  max-width: 1268px;

  padding: 32px 0px;
  margin-inline: auto;

  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 64px;
}

.navigation_section {
  height: fit-content;

  padding: 0px 24px;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 48px;
}

.hero_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero_container > h1 {
  font-size: 2.5rem;
}

.hero_container > p > span {
  padding: 0 2px;

  background-color: var(--highlight);

  font-weight: bold;
}

.navigation_container > ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.navigation_container {
  display: none;
}

.link {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 16px;
  
  font-size: 0.9rem;
  font-weight: 200;
}

.decoration_bar {
  width: 40px;
  height: 0.4px;

  background-color: var(--foreground);

  transition: all ease-in-out 160ms;
}

.link > span {
  transition: all ease-in-out 160ms;
}

.link:hover > span {
  font-weight: 500;
}

.link:hover > .decoration_bar {
  height: 1.2px;
  width: 80px;
}

.contact_container {
  display: flex;
  gap: 16px;

  align-self: flex-end;
}

.section_title {
  padding: 24px;

  position: sticky;
  top: 0;
  
  background-color: rgb(26, 0, 70) / 100%;
  backdrop-filter: blur(10px);
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience_content {
  padding: 12px;
}

.experience_content > ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.about_content, .experience_content {
  padding: 40px 24px;
}

.experience_content {
  padding-inline: 12px;
}

@media (min-width: 1024px) {
  .page {
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }

  .navigation_section {
    height: calc(100vh - 80px);

    padding: 0px 40px; 
    
    position: sticky;
    top: 40px;
    bottom: 40px;

    grid-template-rows: 1fr 2fr 1fr;
  }

  .navigation_container {
    height: 100%;

    display: block;
    align-self: center;
  }

  .section_title {
    display: none;
  }
}

