.page {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  min-height: 100svh;
  max-width: 1268px;
  margin-inline: auto;
  padding: 80px;
  gap: 64px;
  font-family: var(--roboto);
}

.navigation_section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px;
  border: 1px solid green;
}

.hero_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero_container > p > span {
  background-color: var(--accent);
  padding: 0 2px;
  font-weight: bold;
}

.navigation_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.decoration_bar {
  width: 40px;
  height: 0.4px;
  background-color: var(--foreground);

  transition: all ease-in-out 160ms;
}

.link > span {
  transition: all ease-in-out 160ms;
}

.link:hover > span {
  color: var(--foreground);
}

.link:hover > .decoration_bar {
  height: 1.2px;
  width: 80px;
}

.contact_container {
  align-self: flex-end;
  display: flex;
  gap: 16px;
}


/* .link[data-active="true"] > span {
  color: var(--foreground);
} */

/* .link[data-active="true"] > .decoration_bar {
  height: 1.2px;
  width: 80px;
} */


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 /* disble spotlight here */
}

@media (min-width: 1024px) {
  .navigation_section {
    position: sticky;
    top: 20px;
    gap: 120px;
  }

  .page {
    padding: 32px;
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    /* padding-bottom: 80px; */
  }

}

@media (prefers-color-scheme: dark) {
 /* dark mode here */
}
