@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Inter Variable", sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --accent: oklch(0.7049 0.1867 47.6);
}

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.1701 0.0385 261.03);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.4258 0.0227 249.05);
  --muted-forground: oklch(0.196 0.0227 249.05);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --accent: oklch(0.7049 0.1867 47.6);
  --accent-foreground: oklch(0.205 0 0);

  --border: oklch(0.922 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.196 0.0227 249.05);
  --muted-forground: oklch(0.4258 0.0227 249.05);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --accent: oklch(0.7049 0.1867 47.6);
  --accent-foreground: oklch(0.985 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-square-grid {
  background-image:
    linear-gradient(
      color-mix(in srgb, var(--muted) 10%, transparent),
      1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--muted) 10%, transparent),
      1px,
      transparent 1px
    ),
    linear-gradient(
      color-mix(in srgb, var(--muted) 10%, transparent),
      2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--muted) 10%, transparent),
      2px,
      transparent 2px
    );
  background-size:
    50px 50px,
    50px 50px,
    200px 200px,
    200px 200px;
}
.bg-gradient-accent-1 {
  background-image: radial-gradient(
    circle at 35% 45%,
    color-mix(in srgb, var(--accent) 10%, transparent) 0%,
    transparent 50%
  );
}

.bg-gradient-accent-2 {
  background-image: radial-gradient(
    circle at 85% 85%,
    color-mix(in srgb, var(--accent) 20%, transparent) 0%,
    transparent 40%
  );
}
/*
accent: d0b076
background: 060f20
background-darker: 020a15
background-accent: 0d161f
*/
