.contact_container {
  display: flex;
  gap: 32px;

  align-self: flex-end;
}

.contact_link > svg {
  fill: rgb(235, 235, 235);
  transition: ease-in 100ms;
}

.contact_link:hover > svg {
  fill: rgb(255, 255, 255);
  scale: 1.2;
}
